.course img{
    width: 230px;
    height: 150px;
}
.course {
    background-color: lightsteelblue;
    box-shadow: 0 4px 8px 0 rosybrown;
       border-radius: 20px;
    padding: 20px; 
    margin: 10px;
    }