.center img{
    width: 230px;
    height: 150px;
}
.center {
    background-color: lightsteelblue;
    box-shadow: 0 4px 8px 0 rosybrown;
    padding: 10px; 
    border-radius: 20px;
    padding: 20px; 
    margin: 5px;
}